.home-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .game-board-container {
    display: flex;
    gap: 40px;
  }
}

@media screen and (max-width: 800px) {
  .home-page {
    .game-board-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr auto;
      gap: 20px;
    }
    .game-board {
      grid-column: 1 / 3;
      grid-row: 1;
    }
    .player-settings {
      grid-column: 1 / 2;
      grid-row: 2;
    }

    .enemy-settings {
      grid-column: 2 / 3;
      grid-row: 2;
    }
  }
}
